<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

   


    <script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'></script>
    <script>        
        $(document).ready(function() {
            $('#reqBtn').on('click', function() {
                
                // post 이미지 -> base64로 변환
                var canvas = document.createElement("canvas");
                var img = document.getElementById("postImg");

                canvas.width = img.width;
                console.log(canvas.width)
                canvas.height = img.height;


                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0);

                var dataURL = canvas.toDataURL("image/jpg");
                
                //  변환한 base64 -> File객체로 만듬
                const dataURLtoFile = (dataurl, fileName) => {

                    var arr = dataurl.split(','),
                        mime = arr[0].match(/:(.*?);/)[1],
                        bstr = atob(arr[1]), 
                        n = bstr.length, 
                        u8arr = new Uint8Array(n);
                        
                    while(n--){
                        u8arr[n] = bstr.charCodeAt(n);
                    }
                    
                    return new File([u8arr], fileName, {type:mime});
                }

                var postImg = dataURLtoFile(dataURL,'post.png');
                console.log(postImg)


                //  사용자가 업로드한 사진 데이터
                fileList = $('#upimg')[0].files
                // console.log(fileList)
                if (fileList.length == 0) {
                    alert("이미지 파일을 선택하세요.")
                    return
                }
                upImg = fileList[0]
                // console.log(upImg)
                if (!upImg.type.startsWith('image')) {
                    alert("이미지 파일이 아닙니다.")
                    return 
                }
                
                reqData = new FormData()
                reqData.append('upimg', upImg)
                reqData.append('postImg', postImg)
                // console.log(reqData)


                
                $.ajax({
                    "url":"http://127.0.0.1:8000/upload/result",
                    "method":"post",
                    "data":reqData,
                    'dataType':'json',
                    "processData":false, 
                    "contentType":false,
                    "success": function(res) {
                        console.log(res['context'])
                        console.log(res['context'] == undefined)
                        if (res['context'] == undefined) {
                            html = `<b>결과:<img src="data:;base64,${res.image_result_data}" width=500>`;
                            $('#result').html(html)
                            html3 = `${res.result_name_lst}`;
                            $('#result3').html(html3)
                        }
                        if (res['context'] == '해당하는 인물을 찾지 못했습니다.') {
                            html = `<b>결과: ${res.context}`;
                            $('#result').html(html)
                        }
                        

                        html2 = `<img src="data:;base64,${res.post}">`;
                        $('#result2').html(html2)
                    },
                    "error":function(e){
                        alert(JSON.stringify(e));
                        alert(e)
                    }                 
                });
            });
        })
    </script>





</head>
<body style="background-color: rgb(219, 186, 186);">

    <h2><b>이미지 업로드</b></h2>
    <input type="file" name="upimg" id="upimg" /> <br><br>
    <button type="button" id="reqBtn" name="reqBtn" >데이터보내기 & 가져오기</button> <br>
    <br>
    <div id="result3">
    </div>
    <br>
    <div id="result" style="float: left;">
    </div>
    <div id='result2' style="float: right;">
        <img src="/media/poster_3.png" id="postImg", name='postImg'>
    </div>


</body>
</html>